.container {
    background-color: rgb(224, 243, 18);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.options {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    
}

.answerbox {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}